# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sandbox (local experiments, reports, outputs)
sandbox/

# extra files
files/
notebook/*.json


# Large files
*.pdf

#macs
*.DS_Store
